body {
  overflow-x: hidden;
}

.bi-heart-fill {
  color: #ff0000;
}

section {
  padding-top: 7rem;
}

.jumbotron {
  background-color: #e2edff;
}

.svg {
  margin-top: -17px;
}

.gallery-img {
  width: 100%;
}

#gallery.row > * {
  padding: 0;
}
